DATABASE_URL=
PORT=80
NODE_ENV=production

ADMIN_API_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-mini
OPENAI_MAX_OUTPUT_TOKENS=700

BOT_NAME=Marisa
PRODUCT_NAME=Neurotraumas
PRODUCT_NORMAL_PRICE=360
PRODUCT_SPECIAL_PRICE=270
PRODUCT_PRICE=270
VIDEO_LINK=
PDF_LINK=
HOTMART_LINK=https://pay.hotmart.com/T103515864E

MEMORY_EXPIRATION_HOURS=24
FOLLOWUP_1_HOURS=12
FOLLOWUP_PAYMENT_1_HOURS=6
FOLLOWUP_PAYMENT_2_HOURS=24
FOLLOWUP_PAYMENT_3_HOURS=48
FOLLOWUP_4_DAYS=7

WHATSAPP_SESSION_PATH=.baileys_auth
TIMEZONE=America/La_Paz
